<html>
<head>
    <title>Mon title</title>

    <link href="/style/style.css" rel="stylesheet"  type="text/css">
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
<!--          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <!--    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
        <script src="javascripts/index.js"></script>
</head>
<body class="bg container">
<h1>Hello Les gens</h1>

<% users.map(user =>{ %>
    <div> <%= user.name %> : <%= user.age %> ans</div>
<% }) %>

<% users.forEach(user =>{ %>
    <div> <%= user.prenom %> : <%= user.age %> ans</div>
<% }) %>
<div><%= message %></div>
</body>
</html>