<h1>Hello Les gens</h1>

    <% users.map(user =>{ %>
<div> <%=user.name %> : <%=user.age %> ans</div>
   <% })%>

<% users.forEach(user =>{ %>
<div> <%=user.prenom %> : <%=user.age %> ans</div>
<% })%>
<div><%= message %></div>
